@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800;900;&display=swap');
@import "variables";

body{
    background-color: $body;
    padding: 10px;
    font-family: Roboto;
}
h2,h3,p{
    margin: unset;
}
.m-30px{
    margin: 30px;
}
.mt-30px{
    margin-top: 30px;
}
.mt-20px{
    margin-top: 20px;
}
.mb-10px{
    margin-bottom: 10px;
}
.d-inline-block{
    display: inline-block;
}
.align-middle{
    vertical-align: middle;
}
.align-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center{
    text-align: center;
}
.ml-10px{
    margin-left: 10px;
}
.mt-10px{
    margin-top: 10px
}
.mt-100px{
    margin-top: 100px
}