$body: rgb(242, 242, 242);
$white: white;
$button: #6C63FF;
$modal:  rgba(0,0,0,0.6);
$modal-content: #fefefe;
$modal-border: #888;
$close-icon: rgb(243, 116, 116);
$red: red;
$row-light-grey: #ddd;
$row-stripe: #f2f2f2;
$pills: #656363;