.card{
    margin: 10px;
    width: calc(20% - 20px);
    height: 400px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    float: left;
}
.card-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.text-container{
    margin: 10px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
@media only screen and (max-width: 768px) {
    .card{
       width: calc(100% - 20px);
       height: unset;
    }
    .card-image{
        height: unset;
    }
 }