@import "../variables.scss";

.modal {
    display: block; 
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal;
}
.modal-content {
    animation-delay: 2s;
    animation: ease-out;
    background-color: $modal-content;
    margin: auto;
    padding: 20px;
    border: 1px solid $modal-border;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.close {
    color:  $close-icon;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 10px;

    &:hover, &:focus{
        color: $red;
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
    }
}
.poster{
    display: inline-block;
    max-width: 200px;
    margin-right: 10px;
    vertical-align: top;
}
.info-container{
    display: inline-block;
    width: calc(100% - 50%);
    vertical-align: top;
    padding: 0px 10px !important;
    text-align: left;
}
table{
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.tableContainer{
    display: block;
    height: 200px;
    overflow-y: scroll;
    margin-top: 15px;
}

table tr{
    &:nth-child(odd){background-color: $row-stripe;}
}
th, td{
    border: 1px solid $row-light-grey;
    padding: 8px;

    &:first-child{
        width: 30%;
        font-weight: bold;
    }

    &:last-child{
        width: 70%;
    }
}
.ratingsContainer{
    margin: 10px 0px;
}
.ratings{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
}
.ratings img{
    max-width: 70px;
}
.ratings p{
    font-weight: bold;
    margin-top: 5px;
}
.pills{
    background-color: $pills;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    color: $white;
}
.plot{
    font-style: italic;
}
.ratings-heading{
    font-size: 16px;
}
@media only screen and (max-width: 768px) {
    .poster{
        width: 100%;
        display: block;
        max-width: unset;
    }
    .info-container{
        width: 100%;
        display: block;
    }
    .modal-content {
        height: 500px;
        overflow-y: auto;
        padding-top: 20px;
        width: 80%;
    }
    .close{
        top: 0px;
        right: 5px;
    }
 }

 @media only screen and (max-width: 480px) {
    .modal-content {
        height: 90%;
        overflow-y: auto;
        width: 80%;
        padding-top: 20px;
    }
 }

 @media only screen and (max-width: 768px) {
    .modal-content {
        height: 80%;
        overflow-y: auto;
        width: 80%;
        padding-top: 20px;
    }
 }