@import "../variables";

.searchBarContainer{
    text-align: center;
    margin: 20px 0px;
}
.searchImage{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.searchInput{
    height: 20px;
    width: 250px;
    background-color: $white;
    border: none;
    padding: 10px;

    &:focus{
        outline: none;
    }
}
.searchButton{
    background-color: $button;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 60px;
    color: white;

    &:focus{
        outline: none;
    }

    &:hover{
        opacity: 0.8;
    }
}
.errorContainer p{
    color: $red;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .searchImage{
        width: 100%;
     }
 }